RewriteEngine on
RewriteCond %{REQUEST_URI} !bh-wp-logger/wordpress/ [NC]
RewriteCond %{REQUEST_URI} !/vendor-prefixed/ [NC]
RewriteCond %{REQUEST_URI} !/vendor/ [NC]
RewriteCond %{REQUEST_URI} !/assets/ [NC]
RewriteCond %{REQUEST_URI} !/templates/ [NC]
RewriteRule (.*) wordpress/$1 [L]



# Enable WP_DEBUG.
#php_flag log_errors 1
#php_value error_log "wp-content/php_errors.log"

# WP_DEBUG_DISPLAY
# ini_set( 'display_errors', 1 );
#php_flag display_errors 1 # not working.
#SetEnv display_errors=1

#SetEnv WP_ENVIRONMENT_TYPE=local

#php_value WP_DEBUG_DISPLAY true

#php_flag display_errors 1
