parameters:
    level: 8
    paths:
        - includes
    excludePaths:
    bootstrapFiles:
        - phpstan-bootstrap.php
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
    scanDirectories:
        - wp-content/plugins
        - vendor/wp-cli
    ignoreErrors:
        - '#LoggerInterface\|null#'
        - '#Function apply_filters invoked with \d+ parameters, \d+ required.#'
        - '#Parameter \#2 \$callback of static method WP_Mock::expect.*Added\(\) expects callable\(\): mixed, array.*given\.#'
        - '#Variable \$log_data in empty\(\) always exists and is not falsy#'
