
/* Logs styles */

/* The th */
#level {
    width: 10px;
    padding: 0;
}


/* the td */
.level.column-level {
    padding: 0;
    border-right: 1px solid #c3c4c7;
}

/* without inline-block, the padding only applies to the first line of the span. */
.logs-time {
    padding-left: 5px;
    display: inline-block;
}


.level-error .level.column-level {
    background-color: #dc3232;
}

.level-warning .level.column-level {
    background-color: #ffb900;
}

.level-notice .level.column-level {
    background-color: #00a0d2;
}

.level-info .level.column-level {
    background-color: #FFF;
}

.level-debug .level.column-level {
    background-color: #ccd0d4;
}

.log-context-pre {
    overflow-x: scroll;
}


.renderjson a              { text-decoration: none; }
.renderjson .disclosure    { color: crimson;
    font-size: 150%; }
.renderjson .syntax        { color: grey; }
.renderjson .string        { color: red; }
.renderjson .number        { color: cyan; }
.renderjson .boolean       { color: plum; }
.renderjson .key           { color: lightblue; }
.renderjson .keyword       { color: lightgoldenrodyellow; }
.renderjson .object.syntax { color: lightseagreen; }
.renderjson .array.syntax  { color: lightsalmon; }

.renderjson {
    overflow-x: scroll;
    margin-top: 0;
    margin-bottom: 0;
}